<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3 navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/">The18</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teamsview">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/players">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leagues">Leagues</a>
                </li>
                <li class="nav-item">
                    <div class="container-fluid nav-search">
                        <form class="form-inline" method="post" action="/index">
                            <div>
                                <div class="dsearch">
                                    <input class="form-control mr-sm-2 dsearch-input" type="search" placeholder="Search"
                                        aria-label="Search" name="sea" />
                                    <input id="myText" style="display: none;" name="sea2" value="" />

                                    <div class="dropdown">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Options
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#" id="player"
                                                onclick="myFunction1()">players</a>
                                            <a class="dropdown-item" href="#" id="team"
                                                onclick="myFunction2()">teams</a>
                                            <a class="dropdown-item" href="#" id="leagues"
                                                onclick="myFunction3()">leagues</a>
                                        </div>
                                        <button class="btn btn-light my-2 my-sm-0 search-button"
                                            type="submit">Search</button>
                                    </div>
                                    <div class="clear-float"></div>
                                </div>
                            </div>
                        </form>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function myFunction1() {
        document.getElementById("dropdownMenuButton").innerHTML = document.getElementById("player").innerHTML;
        document.getElementById("myText").value = document.getElementById("player").innerHTML;
    }
    function myFunction2() {
        document.getElementById("dropdownMenuButton").innerHTML = document.getElementById("team").innerHTML;
        document.getElementById("myText").value = document.getElementById("team").innerHTML;
    }
    function myFunction3() {
        document.getElementById("dropdownMenuButton").innerHTML = document.getElementById("leagues").innerHTML;
        document.getElementById("myText").value = document.getElementById("leagues").innerHTML;
    }
</script>