body {
    margin: 0px;
    padding: 0px;
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #EEEEEE;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    position: fixed; 
    bottom: 0;
}

.footer-social {
    margin-top: 35px;
}

.festival-image {
    height: 300px;
}

.login {
    padding-top: 40px;
    padding-bottom: 120px;
}

.login-image {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.radio-custom-me {
    padding: 10px;
}

.material-upload {
    width: 22rem;
    padding: 15px;
    margin: 90px auto 80px auto;
}

.material-upload-faculty,
.material-upload-student {
    margin: 35px 40px 20px 20px;
}

.material-faculty,
.material-student {
    margin: 20px;
}

.add-button {
    position: fixed;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    font-size: 240%;
    box-shadow: 1px 6px 20px 0px gray;
    cursor: pointer;
    bottom: 40px;
    left: 90%;
    border: 0px solid white;
}

#add-button-plus {
    color: #EEEEEE;
    position: absolute;
    bottom: 10%;
    right: 25%;
}

.search{
    width: 100%;
    width: 50%;
    margin: 0 auto !important; 
}

.search-two{
    margin: 0 auto;
}

.card-team{
    padding: 10px;
}

.dsearch-input, .dropdown{
    float: left;
}

.clear-float{
    clear: both;
}

.search-button{
    /* margin-top: 19px;  */
    margin-left: 80px;
}

.image-logo{
    width: 5%;
}