<div class="container-fluid about">
    <br>
    <h3>Festivals</h3>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Navratri</h5>
                    <p class="card-text">Navaratri also spelled Navratri or Navarathri, is a nine nights (and ten days)
                        Hindu festival, celebrated in the autumn every year.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Diwali</h5>
                    <p class="card-text">Diwali or Deepavali is the Hindu festival of lights celebrated every year in
                        autumn in the northern hemisphere (spring in southern hemisphere). </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Traditional Day</h5>
                    <p class="card-text">Traditional Day was held on the 18th of January 2017 at the college. It was an
                        eventful day. It was observed as a celebration of India’s diverse culture.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>