<div class="container-fluid">
    <div class="row search-root">
        <div class="card search">
            <div class="card-body search-two">
                <form class="form-inline" method="post" action="/teams">
                    <div>
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="sea">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>