<ul class="list-group">
    {{#each data}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>{{this.[full name]}}</strong>
        <strong>{{this.team}}</strong>   
        <a class="btn btn-outline-dark"><strong> > </strong></a>
    </li>
    {{/each}}
</ul>