<div class="card" style="width: 40rem; margin : 0 auto; margin-bottom : 10rem">
    <div class="card-body">
        <h5 class="card-title">Lionel Messi</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
    <div class="container" style="padding-bottom: 2rem;">
        <div class="row border-top">
            <div class="col-sm">
                <span>First Name :</span>
            </div>
            <div class="col-sm">
                <span>Lionel</span>
            </div>
        </div>
        <br>
        <div class="row border-top">
            <div class="col-sm">
                <span>Last Name :</span>
            </div>
            <div class="col-sm">
                <span>Messi</span>
            </div>
        </div>
        <br>
        <div class="row border-top">
            <div class="col-sm">
                <span>Full Name :</span>
            </div>
            <div class="col-sm">
                <span>Lionel Messi</span>
            </div>
        </div>
        <br>
        <div class="row border-top">
            <div class="col-sm">
                <span>Position :</span>
            </div>
            <div class="col-sm">
                <span>Left Winger</span>
            </div>
        </div>
        <br>
        <div class="row border-top">
            <div class="col-sm">
                <span>Age :</span>
            </div>
            <div class="col-sm">
                <span>29</span>
            </div>
        </div>
        <br>
        <div class="row border-top">
            <div class="col-sm">
                <span>Birth Date :</span>
            </div>
            <div class="col-sm">
                <span>Lionel</span>
            </div>
        </div>
        <br>
        <div class="row border-top">
            <div class="col-sm">
                <span>Birth Country :</span>
            </div>
            <div class="col-sm">
                <span>Argentina</span>
            </div>
        </div>
        <br>
        <div class="row border-top">
            <div class="col-sm">
                <span>Nationality :</span>
            </div>
            <div class="col-sm">
                <span>Argentina</span>
            </div>
        </div>
        <br>
        <div class="row border-top">
            <div class="col-sm">
                <span>League : </span>
            </div>
            <div class="col-sm">
                <span>La Liga</span>
            </div>
        </div>

    </div>

    {{!-- <li class="list-group-item playerstyle"></li>
    <li class="list-group-item playerstyle"><span style="padding-right: 10rem;">Last Name :</span> Messi</li>
    <li class="list-group-item playerstyle"><span style="padding-right: 10rem;">Team :</span>Barcelona</li>
    <li class="list-group-item playerstyle"><span style="padding-right: 10rem;">Full Name :</span> Barcelona</li>
    <li class="list-group-item playerstyle"><span style="padding-right: 10rem;">Position :</span> Barcelona</li>
    <li class="list-group-item playerstyle"><span style="padding-right: 10rem;">Age :</span> Barcelona</li>
    <li class="list-group-item playerstyle"><span style="padding-right: 10rem;">Birth Date :</span> Barcelona</li>
    <li class="list-group-item playerstyle"><span style="padding-right: 10rem;">Birth Country :</span> Barcelona</li>
    <li class="list-group-item playerstyle"><span style="padding-right: 10rem;">Nationality :</span> Barcelona</li>
    <li class="list-group-item playerstyle"><span style="padding-right: 10rem;">League :</span> Barcelona</li> --}}

</div>